.total {
   display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 600px;
}

  .page-title {
    color: brown;
    text-align: center;
    font-weight: bold;
  }

   .news{
    text-align: center;
    font-size: 14px;
    color: white;
    width: 20em;
    height: 18em;
    font-weight: bold;
    padding: 1%;
    margin: 5px;
    background-color: rgb(98, 159, 216); 
    border:1px solid brown;
    border-radius: 3%;
  }

  .pnews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1fr; 
  }

  .button{
    padding: 1%;
    margin: 5px;
    background-color: brown; 
    border-radius: 10%;
    color: aliceblue;
  }

  .SelectNews{
    display: none;
  }